.Form {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

    background-color: hsl(0, 0%, 95%);
    height: 106vh;
    width: auto;
    z-index: 1;
    margin-top: -50%
}

.Form_Container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
    
    /* border: 2px solid black; */
    background-color: white;
    box-shadow: 0px 1px 6px grey;
    height: 335px;
    width: 500px;
    margin-top: 4%;
    margin-left: 8%
}

.Form_Container_Title {
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;

    /* border: 1px solid black; */
    height: 40px;
    width: 100px;
    margin-top: 2%;
    margin-left: 2%
}

.Form_Container_Title_Text {
    font-size: 18px;
    font-weight: bold;
    color:  #06acf5;
}

.Form_Container_Title_Input {
    display: flex;
	flex-direction: column;
	justify-content: baseline;
    align-items: flex-start;
    
    /* border: 1px solid black; */
    height: 60px;
    width: 400px;
    margin-top: 1%;
    margin-left: 10%;
}

.Form_Container_Title_Input_Text {
    font-size: 8px;
    font-weight: bold;
    color: black;
    margin-top: 1%
}

.Form_Container_Title_Input_Input {
    border-radius: 1px;
    box-shadow:  0px 0px 1px 0.5px grey;
    border: none;
    height: 10px;
    width: 395px;
    margin-top: -2%
}

.Form_Container_Image {
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;

    /* border: 1px solid black; */
    box-shadow:  0px 0px 1px 1px grey;
    border-radius: 1px;
    height: 130px;
    width: 210px;
    margin-left: 29%;
    margin-top: -5%
}

.Form_Container_Image_Image {
    height: 50px;
    width: 50px;
}

.Form_Container_Image_Url_Input {
    display: flex;
	flex-direction: column;
	justify-content: baseline;
    align-items: flex-start;
    
    /* border: 1px solid black; */
    height: 30px;
    width: 400px;
    margin-top: 1%;
    margin-left: 10%;
}

.Form_Container_Image_Url_Input_Text {
    font-size: 8px;
    font-weight: bold;
    color: black;
    margin-top: -1%
}

.Form_Container_Image_Url_Input_Input {
    border: none;
    border-radius: 1px;
    box-shadow:  0px 0px 1px 0.5px grey;
    height: 10px;
    width: 395px;
    margin-top: -2%
}

.Form_Container_Content_Input {
    display: flex;
	flex-direction: column;
	justify-content: baseline;
    align-items: flex-start;
    
    /* border: 1px solid black; */
    height: 55px;
    width: 400px;
    margin-top: -1%;
    margin-left: 10%;
}

.Form_Container_Content_Input_Text {
    font-size: 8px;
    font-weight: bold;
    color: black;
    margin-top: -1%
}

.Form_Container_Content_Input_Input {
    border: none;
    border-radius: 1px;
    box-shadow:  0px 0px 1px 0.5px grey;
    height: 40px;
    width: 395px;
    margin-top: -2%
}

.Form_Container_Post_Button {
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;

    background-image: linear-gradient(to right top, #4a4a4a, #383838, #272727, #171717, #000000);
    /* border: 1px solid black; */
    border: none;
    border-radius: 2px;
    height: 15px;
    width: 30px;
    margin-left: 86%
}

.Form_Container_Post_Button_Text {
    font-size: 8px;
    color: white
}

